@import './Vars.css';

.root {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;

  @media (--s) {
    padding: 4rem;
  }
}

.sections {

}

.section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.days {
  display: flex;
  margin: 0 calc(-1 * 0.5em) 1em;
  font-size: 14px;

  @media (--s) {
    font-size: 16px;
  }
}

.day {
  border-radius: 3px;
  cursor: pointer;
  min-width: 3rem;
  padding: 0.25em 0.5em;
  margin: calc(-1 * 0.25em) 0;
  transition-property: color, background;
  transition-duration: 0.25s;
  color: #777;

  @media (--s) {
    margin-right: 1em;
  }

  &:hover {
    color: #000;
  }
}

.active {
  color: #fff;
  background-color: var(--hl_color);

  &:hover {
    color: #fff;
  }
}

.long {
  display: none;

  @media (--s) {
    display: inline;
  }
}

.short {
  @media (--s) {
    display: none;
  }
}

.events {

}

.event {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.time {
  font-size: 14px;
  color: #777;
  margin-bottom: 0.5em;

  @media (--s) {
    font-size: 16px;
  }
}

.speakers {
  margin-bottom: 0.5em;
  font-size: 14px;
  color: #777;

  @media (--s) {
    font-size: 16px;
  }
}

.title {
  font-size: 18px;
  /* line-height: 1.4em; */

  @media (--s) {
    font-size: 24px;
  }
}
