@import './Vars.css';

.root {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1rem 1rem 2rem 1rem ;

  @media(--l) {
    padding: 97px 230px;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -2;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header {
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  align-self: flex-start;


  & a {
    color: #000;
    display: flex;
  }

  & svg {
    display: block;
    width: 131px;
    height: 48px;
    margin-right: 0.5em;
  }
}

.years {
  position: absolute;
  left: 0;
  bottom: -24px;

  @media(--l) {
    position: static;
    display: flex;
    padding: calc(var(--yr) * 3.5);
    margin-left: calc(var(--xr) * 3.25);
  }

  & .year {
    color: #fff;
    margin-right: var(--yr);
    border-radius: var(--yr);
    padding: var(--yr) calc(var(--yr) * 2);
    align-self: center;
    background-color: #C169FF;
    font-size: 12px;

    &:first-child {
      background-color: #F25CA2;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu {
  font-size: 16px;
  margin-left: auto;

  @media(--l) {
    display: flex;
    padding: calc(var(--yr) * 3.5);
    margin-left: auto;
  }

  & .nav {
    margin-bottom: 4px;
    display: block;
    color: #A240FC;
    margin-bottom: .5rem;

    @media(--l) {
      margin-right: calc(var(--xr) * 3.5);
      margin-bottom: 0;
      align-self: center;

      &:last-child {
        margin: 0;
      }
    }
  }
}
