@import './Vars.css';

.root {
  padding: 1rem;
  margin-top: 5rem;
  max-width: 100%;
  /* overflow-x: hidden; */

  @media(--l) {
    padding: 0 calc(var(--xr) * 3);
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -2;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.preview {
  display: block;

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 3);
    grid-row-gap: var(--xr);
  }

  & .date {
    font-size: 36px;
    line-height: 40px;
    color: #F25CA2;
    grid-column: 3;
    margin-bottom: var(--xr);

    @media(--l) {
      margin: 0;
    }
  }

  & .title {
    grid-column: 2 / span 3;;
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: var(--xr);

    @media(--l) {
      margin: 0;
    }
  }

  & .description {
    grid-column: 3 / span 2;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
  }
}

.socials {
  color: #fff;
  position: absolute;
  height: 72px;
  margin-top: 16px;

  & .subscribe {
    margin-bottom: 8px;
  }

  @media(--l) {
  bottom: 35%;
  right: 230px;

    & .subscribe {
      margin-bottom: calc(var(--yr) * 4);
    }
  }

  & .social {
    width: 36px;
    height: 36px;
    display: inline-flex;
    margin-right: calc(var(--yr) * 2);

    @media(--l) {
      width: 36px;
      height: 36px;
      margin-right: calc(var(--yr) * 2);
    }
  }
}

.fb { background-image: url('../../images/horizons/fb.svg'); }
.vk { background-image: url('../../images/horizons/vk.svg'); }
.tw { background-image: url('../../images/horizons/tw.svg'); }
.yt { background-image: url('../../images/horizons/yt.svg'); }
.inst { background-image: url('../../images/horizons/inst.svg'); }

.scroll {
  color: #F25CA2;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 20%;
  display: none;

  @media(--l) {
  bottom: 35%;
  display: block;
  cursor: pointer;
}

  & .arrow {
    background-image: url('../../images/horizons/arrow.svg');
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--yr) * 4);
  }
}

.screen {
  position: relative;

  @media(--l) {
    height: 100vh;
  }
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

  @media(--l) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 3);
    grid-row-gap: 16px;

  }
}

.lecture {
  grid-column: 1;
  color: #F25CA2;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 16px;

  @media(--l) {
    grid-column: 3;
  }
}

.name {
  grid-column: 1;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 16px;
  @media(--l) {
    grid-column: 3 / 5;
  }
}

.text {
  grid-column: 1;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
  @media(--l) {
    grid-column: 3 / 5;
  }
}

.start {
  grid-column: 1;
  color: #F25CA2;
  margin-bottom: 16px;
}

.photo {
  grid-column: 1;
  background-image: url('../../images/horizons/Sokolov.jpg');
  background-repeat: no-repeat;
  margin-bottom: 36px;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
  }

  @media(--l) {
    grid-column: 5 / span 2;
    margin-top: -60px;
    width: 100%;

    &::before {
      padding-top: calc(16 / 9 * 100%);
    }
  }
}

.group {
  grid-column: 1;
  margin-top: 10rem;

  @media(--l) {
    grid-column: 3 / 5;
  }
}

.topic {
  color: #fff;
}

.events {
  grid-column: 3 / span 4;
}

.placeholder {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  background: #191717;
  opacity: .4;
  transition: background .3s, opacity .3s;
}
