@import './Vars.css';

.root {
  padding: 1rem;
  margin-top: 5rem;
  max-width: 100%;

  @media(--l) {
    margin-top: 0;
    padding: 0 calc(var(--xr) * 3);
  }
}

.preview {
  display: block;

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 4.75rem;
  }

  & .date {
    font-size: 36px;
    line-height: 40px;
    color: #F25CA2;
    grid-column: 3;
    margin-bottom: var(--xr);
  }

  & .title {
    grid-column: 2 / span 3;;
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: var(--xr);
  }

  & .description {
    grid-column: 3 / span 2;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: var(--xr);
  }
}

.socials {
  color: #fff;

  & .subscribe {
    margin-bottom: 16px;
  }

  @media(--l) {
  position: absolute;
  bottom: 28%;
  right: 230px;

    & .subscribe {
      margin-bottom: calc(var(--yr) * 4);
    }
  }

  & .social {
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: inline-flex;
    margin-right: calc(var(--yr) * 2);

    @media(--l) {
      width: 36px;
      height: 36px;
      margin-right: calc(var(--yr) * 2);
    }
  }
}

.fb { background-image: url('../../images/horizons/fb.svg'); }
.vk { background-image: url('../../images/horizons/vk.svg'); }
.tw { background-image: url('../../images/horizons/tw.svg'); }
.yt { background-image: url('../../images/horizons/yt.svg'); }
.inst { background-image: url('../../images/horizons/inst.svg'); }

.scroll {
  display: none;

  @media(--l) {
    bottom: 30%;
    display: block;
    cursor: pointer;
    color: #F25CA2;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

  & .arrow {
    background-image: url('../../images/horizons/arrow.svg');
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--yr) * 4);
  }
}

.screen {
  position: relative;

  @media(--l) {
    height: 100vh;
  }
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

  @media(--l) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 3);
    grid-row-gap: 16px;

  }
}

.lecture {
  grid-column: 1;
  color: #F25CA2;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 16px;

  @media(--l) {
    grid-column: 3;
  }
}

.name {
  grid-column: 1;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 16px;
  @media(--l) {
    grid-column: 3 / 5;
  }
}

.text {
  grid-column: 1;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
  @media(--l) {
    grid-column: 3 / 5;
  }
}

.start {
  color: #F25CA2;
  margin-bottom: 16px;
}

.photo {
  grid-column: 1;
  background-image: url('../../images/horizons/Sokolov.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 36px;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
  }

  @media(--l) {
    grid-column: 5 / span 2;
    margin-top: -60px;
    width: 340px;
    background-size: auto;

    &::before {
      padding-top: calc(16 / 9 * 100%);
    }
  }
}

.group {
  margin-top: 5rem;

  @media(--l) {
    margin-top: 0;
    grid-column: 3 / 5;
  }
}

.topic {
  color: #fff;
}

.events {
  grid-column: 3 / span 4;
}

.placeholder {
  visibility: hidden;
  background: #191717;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }
}
