// TODO: split by files

.page_fest {
  &_description {
    margin-bottom: $yr * 8;

    .desc {
      margin-bottom: $yr * 2;
    }
  }

  &_content {
    margin-bottom: $yr * 8;

    .image {
      margin-bottom: $yr * 2;

      .img_ar {
        @include aspect-ratio(5, 4);

        background: {
          color: #f1f1f1;
          size: cover;
          repeat: no-repeat;
          position: center;
        };


        width: 100%;

        @include mq($s) {
          @include aspect-ratio-modify(16, 9);
        }

        @include mq($m) {
          @include aspect-ratio-modify(5, 4);
        }
      }
    }

    .desc {
      font-size: $yr * 1.75;
      line-height: $yr * 2.5;
      margin-top: $yr * 2;
    }

    .date {
      margin-top: $yr * 2;
    }

    .event {
      margin-top: $yr * 2;
    }

    .more {
      margin-top: $yr * 2;
    }

    @include mq($m) {
      display: flex;
      margin-bottom: $yr * 12;

      .image {
        margin-bottom: 0;
        width: 5 / 12 * 100%;
        margin-right: 1 / 12 * 100%;
        // padding-right: $xr * 6;
        flex-shrink: 0;
      }

      .text {
        align-self: center;
        // width: 50%;
        flex-shrink: 0;
        width: 5 / 12 * 100%;
        margin-right: 1 / 12 * 100%;
      }

      .desc {
        margin-top: $yr * 4;
      }

      &_2, &_4 {
        .text {
          order: -1;
          width: 6 / 12 * 100%;
          margin-right: 0;
        }

        .image {
          width: 5 / 12 * 100%;
          margin-left: 1 / 12 * 100%;
          margin-right: 0;
          // padding-left: $xr * 6;
          padding-right: 0;
        }
      }
    }

    @include mq($l) {
      .text {
        // width: 50%;
        flex-shrink: 0;
        width: 4 / 12 * 100%;
        margin-right: 2 / 12 * 100%;
      }

      &_2, &_4 {
        .text {
          // order: -1;
          width: 4 / 12 * 100%;
          margin-right: 0;
          margin-left: 2 / 12 * 100%;
        }

        .image {

        }
      }
    }


    &_1 {
      .img_ar {
        background-image: image_url('temp/sec1.jpg');
      }
    }

    &_2 {
      .img_ar {
        background-image: image_url('temp/sec2.jpg');
      }
    }

    &_3 {
      .img_ar {
        background-image: image_url('temp/sec3.jpg');
      }
    }

    &_4 {
      .img_ar {
        background-image: image_url('temp/sec4.jpg');
      }
    }
  }
}

.page_section {
  &_desc {
    margin-bottom: $yr * 4;

    .title {
      margin-bottom: $yr * 2;
    }
  }

  &_days {
    margin-bottom: $yr * 4;

    .days {
      display: flex;

      &_item {
        border: 1px solid $pr_color;
        border-right: 0;
        min-width: 55px;

        padding: $yr $xr / 2;

        font-size: $yr * 1.5;
        line-height: $yr * 2.5;

        .full {
          display: none;
        }

        &:last-child {
          border-right: 1px solid $pr_color;

        }
      }
    }

    @include mq($s) {
      .days {
        &_item {
          padding: $yr $xr;
          font-size: $yr * 1.75;
          line-height: $yr * 2.5;

          .full {
            display: block;
          }

          .short {
            display: none;
          }
        }
      }
    }
  }

  &_schedule {

    .events {
      &_item {
        border-bottom: 1px solid rgba($pr_color, 0.3);
        padding-bottom: $yr * 2;
        margin-bottom: $yr * 2;

        .themes {
          font-size: $yr * 1.5;
          line-height: $yr * 2;
          text-transform: uppercase;
          display: flex;
          margin-bottom: $yr;

          &_item {
            background: rgba($pr_color, 0.1);
            padding: $yr / 2 $xr / 2;
            margin-right: $xr / 2;

            &.sci {
              background: rgba(#7ad4e6, 0.5);
            }

            &.art {
              background: rgba(#88CC88, 0.5);
            }

            &.tech {
              background: rgba(#f1b19a, 0.5);
            }
          }
        }

        .time {
          margin-bottom: $yr;
        }
      }
    }
  }
}


.body_fest_general_cat {
  .header {
    @include max_width;
  }

  .page_about {
    @include max_width;
  }
}

.page_section_general_cat,
.page_fest_general_cat {
  @include max_width;
}
