.form {
  &_inputs {
    .input {
      margin-bottom: $yr * 2;

      &_label {
        margin-bottom: $yr;
      }

      &_input {
        .text,
        .date,
        .datetime,
        .string {
          border: 2px solid $pr_color;
          font-size: inherit;
          font-family: inherit;
          line-height: inherit;

          width: 100%;
          padding: $yr $xr;
          outline: none;

          &:focus {
            border-color: blue;
          }
        }

        .text {
          resize: vertical;
          min-height: $yr * 24;
        }
      }

      &.event_title {
        .input_input {
          .text {
            min-height: $yr * 12;
          }
        }
      }
    }
  }

  &_actions {
    margin-top: $yr * 4;
  }
}